# - DATABASE ************************************************************************************
DATABASE_URL="postgresql://ratekit:ratekit@localhost:5432/ratekit"
DATABASE_DIRECT_URL="postgresql://ratekit:ratekit@localhost:5432/ratekit"
POSTGRES_USER="ratekit"
POSTGRES_PASSWORD="ratekit"
POSTGRES_DB="ratekit"

# - CONFIG **************************************************************************************
APP_NAME="RateKit"